body {
    background-image: url("https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/* Navbar logo */
.logo {
    margin-left: 40%;
}

/* Navigation */
.navbar {
    border-bottom: 1px solid #BBBBBB;
  }

/* .navbar a {
    color: white !important;
} */
  
  .nav-link {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 14px;
    /* text-transform: uppercase; */
    text-decoration: none;
    /* color: #031D44; */
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }

  .nav-link.active::before {
    width: 100%;
    bottom: 10px;
}

/* Main page */
