h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

/* Navbar logo */
.logo {
    margin-left: 40%;
}

/* Navigation */
.navbar {
    border-bottom: 1px solid #BBBBBB;
  }

/* .navbar a {
    color: white !important;
} */
  
  .nav-link {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 14px;
    /* text-transform: uppercase; */
    text-decoration: none;
    /* color: #031D44; */
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }
  
  .nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
  
  .nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
  }
  
  .nav-link-grow-up:hover::before {
    height: 5px;
  }

  .nav-link.active::before {
    width: 100%;
    bottom: 10px;
}


/* Hero container */
.container-hero {
    position: relative;
}
.container h2 {
    margin-top: 10%;
}

.container-hero img {
    width: 100%;
    height: 400px;
}

.weather-summary {
    position: absolute;
    top: 20%;
    left: 5%;
}



/* Five day forecast */
.row {
    /* background: red; */
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
}


/* Card */
.card {
    margin-top: 6%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
  }

